@model List<Appointment>

<div class="row">
    <div class="listed" style="width:100%">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="item-meeting">
                        <div class="avatar-doctor">

                            <div class="avatar-image">
                                @*<img src="img/doctor-pic.jpg" alt="doctor">*@
                                <h4>
                                    <i class="fa fa-user-md" aria-hidden="true"></i>
                                    <a title="See Profile">@item.Patient.Name @item.Patient.Surname</a>
                                </h4>

                            </div>
                        </div>
                        <div class="data-meeting">
                            <ul class="list-unstyled info-meet">
                                <li><p>Doğum Tarihi: <span>@item.Patient.BirthDate.ToShortDateString()</span></p></li>
                                <li><p>Tarih: <span>@item.Timestamp.ToShortDateString()</span></p></li>
                                <li><p class="time">Saat: <span>@item.Timestamp.ToShortTimeString()</span></p></li>
                                <li><p class="phone">Telefon: <span>@item.Patient.Phone</span></p></li>
                                @*<li><p>type of appointment: <span>Specialist</span></p></li>
                                    <li><p>total: <span class="price">15.00</span></p></li>
                                    <li><p>doctor's office: <span>202</span></p></li>*@
                            </ul>
                            <ul class="list-unstyled btns">
                                <li><button class="btn btn-red btn-xsmall confirm"><i class="fa fa-times" aria-hidden="true"></i> İptal</button></li>
                                <li><a class="btn btn-xsmall" href="#"><i class="fa fa-arrow-down" aria-hidden="true"></i> Yazdır</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
